<h1>New product</h1>

<p id="notice"><%= notice %></p>
<form accept-charset="UTF-8" action="/products" class="new_product" id="new_product" method="post">
    <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="mKmAPOy93nw/ZhXfcjXn6VQRwPPdD7xJJv+3/rOKtik=">
    </div>
    <div class="field">
        <label for="product_name">Name</label><br>
        <input id="product_name" name="product[name]" type="text">
    </div>
    <div class="field">
        <label for="product_description">Description</label><br>
        <input id="product_description" name="product[description]" type="text">
    </div>
    <div class="field">
        <label for="product_price">Price</label><br>
        <input id="product_price" name="product[price]" type="text">
    </div>
    <div class="field">
        <label for="product_category_id">Category</label><br>
        <select id="product_category_id" name="product[category_id]">
            <% @categories.each do |category| %>
                <option value=<%= category.id %>><%= category.name %></option>
            <% end %>
        </select>
    </div>
    <div class="actions">
        <input name="commit" type="submit" value="Create Product">
    </div>
</form>

<%= link_to 'Back', products_path %>
